# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.DS_Store
*.swp
*.out

# IDE files to ignore (Netbeans, Eclipse, IDEA)
nbproject
nb-configuration.xml
nbactions.xml
.netbeans.xml
context.xml
.classpath
.project
.settings
build.xml
*.iml
.idea

# Laravel
/node_modules
/public/hot
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
.env

# except this file
!.gitignore
