 <IfModule mod_rewrite.c>
#     <IfModule mod_negotiation.c>
#         Options -MultiViews
#     </IfModule>
 
     RewriteEngine On
 
     # Restrict access to non-public directories
     RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|\.svg|\.woff2?|\.eot|\.ttf|/favicon.ico|/robots\.txt)$ [NC]
     RewriteRule (app|bootstrap|config|resources|routes|storage|vendor)/ - [NC,F,L]
 
     # Restrict access to config
     RewriteRule \.env - [NC,F,L]
 
     # Redirect Trailing Slashes If Not A Folder...
     RewriteCond %{REQUEST_FILENAME} !-d
     RewriteRule ^(.*)/$ /$1 [L,R=301]
 
     # Handle Front Controller...
     RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|\.svg|\.woff2?|\.eot|\.ttf|/favicon.ico|/robots\.txt)$ [NC]
     RewriteRule ^ index.php [L]

     # Handle assets in public dir
     RewriteCond %{REQUEST_URI} (\.css|\.js|\.png|\.jpg|\.gif|\.svg|\.woff2?|\.eot|\.ttf|/favicon.ico|/robots\.txt)$ [NC]
     RewriteRule ^(.*)$ public/$1 [L]
      
     # Handle Authorization Header
     RewriteCond %{HTTP:Authorization} .
     RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
 </IfModule>
